body {
    background-image: url("capa-espacos-para-casamento.jpg");
   max-height: 1000%;
   max-width: 1000%;
}

.atividade12 {
    background-color: rgb(219, 119, 57);
    width: 600px;
    background-color: rgb(224, 139, 65);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 10px 5px 10px 2px black;
    text-align: center;
    margin: 0 auto;
    margin-top: 80px;
}

h1 {
    color: rgb(97, 65, 224);
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}
.img{
    width: 200px;
    height: 200px;
}
button {
    transition: all 0.5s;
    font-size: 17px;
    padding: 1ch 2ch;
    background-color: white;
    color: #000;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 0px hsl(0, 0%, 90%),
      4px 4px 0px hsl(0, 0%, 80%),
      6px 6px 0px hsl(0, 0%, 70%),
      8px 8px 0px hsl(0, 0%, 60%),
      10px 10px 0px hsl(0, 0%, 50%),
      12px 12px 0px hsl(0, 0%, 40%),
      14px 14px 0px hsl(0, 0%, 30%),
      16px 16px 0px hsl(0, 0%, 20%),
      18px 18px 0px hsl(0, 0%, 10%);
  }
  
  button:hover {
    background-color: hsl(0, 0%, 50%);
    color: #fff;
    box-shadow: none;
  }